body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.auth {
	display: flex;
	justify-content: space-around;
	margin: 20% 0;
}

#register, #login {
	display: grid;
	gap: 10px;
	background-color: aliceblue;
	padding: 20px 30px;
	box-shadow: 1px 1px 5px black;
	
}

input[type="email"], input[type="password"]{
	border-radius: 8px;
	font-size: 20px;
}

input[type="submit"]{
	border-radius: 10px;
	font-size: 20px;
	background-color: azure;
}

.content {
	display: none;
	text-align: center;
}

.content button {
	font-size: 25px;
	border-radius: 15px;
}